html {
  font-size: 100%;
}

body {
  font-family: "museo-sans", sans-serif;
  font-weight: 400;
  @include font-size(1.063);
  color: $fontcolor;
}

h1 {
  font-weight: 100;
  @include font-size(2.782);
  line-height: 1;
}

h2 {
  @include font-size(1.719);
  line-height: 1;
}

h2,
h3,
h4, {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $linkcolor;
  &:hover {
    color: $hovercolor;
  }
}

p {
  font-family: "Calluna", serif;
  font-weight: 400;
  line-height: 1.618;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}